sdk/go/**/* linguist-generated=true
sdk/go/api_esc_extensions.go linguist-generated=false
sdk/go/api_esc_test.go linguist-generated=false

sdk/python/**/* linguist-generated=true
sdk/python/pulumi_esc_sdk/esc_client.py linguist-generated=false
sdk/python/pulumi_esc_sdk/workspace.py linguist-generated=false
sdk/python/pulumi_esc_sdk/workspace_models.py linguist-generated=false
sdk/python/test/**/* linguist-generated=false
sdk/python/pyproject.toml linguist-generated=false

sdk/typescript/**/* linguist-generated=true
sdk/typescript/esc/index.ts linguist-generated=false
sdk/typescript/test/**/* linguist-generated=false
sdk/typescript/* linguist-generated=false
