permissions: write-all # Equivalent to default permissions plus id-token: write
name: Publish Release

on:
  push:
    tags:
      - v*.*.*
      - '!v*.*.*-**'

env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: imports/github-secrets
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: GITHUB_TOKEN=PULUMI_BOT_TOKEN

jobs:
  lint:
    uses: ./.github/workflows/stage-lint.yml

  test:
    uses: ./.github/workflows/stage-test.yml
    with:
      enable-coverage: true
    secrets: inherit

  publish-sdks:
    needs: [test, lint]
    uses: ./.github/workflows/stage-publish-sdk.yml
    with:
      version: ${{ github.ref_name }}
      prerelease: false
    secrets: inherit

  github-release:
    runs-on: ubuntu-latest

    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@v1
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Extract Tag Name
        id: extract_tag
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          echo "::set-output name=tag_name::$TAG_NAME"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ steps.extract_tag.outputs.tag_name }}
          body_path: CHANGELOG_PENDING.md
