permissions: write-all # Equivalent to default permissions plus id-token: write
name: Publish-SDK

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        description: Version to be used to publish the SDKs
      prerelease:
        required: true
        type: boolean
        description: Indicates if we're doing a pre- or proper release.

env:
  PULUMI_LOCAL_NUGET: ${{ github.workspace }}/nuget
  PYPI_USERNAME: __token__
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: imports/github-secrets
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: GITHUB_TOKEN=PULUMI_BOT_TOKEN,NPM_TOKEN,NODE_AUTH_TOKEN=NPM_TOKEN,NUGET_PUBLISH_KEY,PYPI_PASSWORD=PYPI_API_TOKEN

jobs:

  publish-nodejs-sdk:
    runs-on: ubuntu-latest
    name: publish-nodejs-sdk
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@v1
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org

      - name: Calculate tag
        id: tag
        run: echo "tag=$(./.github/scripts/calculate-npm-tag.sh "${{ inputs.version }}")" >> "$GITHUB_OUTPUT"
      - name: Generate SDKs
        uses: ./.github/actions/generate_sdk
        env:
          VERSION: ${{ inputs.version }}
          PULUMI_VERSION: ${{ inputs.version }}
      - name: Build Node.JS SDK
        run: make build_typescript
        env:
            VERSION: ${{ inputs.version }}
            PULUMI_VERSION: ${{ inputs.version }}

      - name: Publish Node.JS SDK
        working-directory: sdk/typescript/bin
        run: npm publish --tag "${{ steps.tag.outputs.tag }}"
        env:
          NPM_TOKEN: ${{ steps.esc-secrets.outputs.NPM_TOKEN }}

  publish-go-sdk:
    runs-on: ubuntu-latest
    name: publish-go-sdk
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@v1
      - name: Checkout Repo
        uses: actions/checkout@v4
      - id: version
        name: Set SDK Version
        uses: pulumi/provider-version-action@v1

      - name: Generate SDKs
        uses: ./.github/actions/generate_sdk
        env:
          VERSION: ${{ inputs.version }}
          PULUMI_VERSION: ${{ inputs.version }}
      - name: Publish Go SDK
        uses: pulumi/publish-go-sdk-action@v1
        with:
          repository: ${{ github.repository }}
          base-ref: ${{ github.sha }}
          source: sdk
          path: sdk
          version: ${{ steps.version.outputs.version }}
          additive: false
          files: |-
            go.*
            go/**
            !*.tar.gz
  publish-python-sdk:
    runs-on: ubuntu-latest
    name: publish-python-sdk
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@v1
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - id: version
        name: Set SDK Version
        uses: pulumi/provider-version-action@v1
      - name: Generate SDKs
        uses: ./.github/actions/generate_sdk
        env:
          VERSION: ${{ inputs.version }}
          PULUMI_VERSION: ${{ inputs.version }}
      - name: Install Twine
        run: python -m pip install pip twine
      - name: Build Python SDK
        run: make build_python
        env:
          VERSION: ${{ steps.version.outputs.version }}
          PULUMI_VERSION: ${{ steps.version.outputs.version }}
      - name: Publish PyPi Package
        run: >
          twine upload
          -u "${PYPI_USERNAME}"
          -p "${PYPI_PASSWORD}"
          "${{ github.workspace }}/sdk/python/bin/dist/*"
          --skip-existing
          --verbose

  publish-csharp-sdk:
    runs-on: ubuntu-latest
    name: publish-csharp-sdk
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@v1
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'
      - id: version
        name: Set SDK Version
        uses: pulumi/provider-version-action@v1
      - name: Generate SDKs
        uses: ./.github/actions/generate_sdk
        env:
          VERSION: ${{ inputs.version }}
          PULUMI_VERSION: ${{ inputs.version }}
      - name: Build C# SDK
        run: make build_csharp
      - name: Pack NuGet
        run: |
          cd sdk/csharp/Pulumi.Esc.Sdk
          dotnet pack -c Release -o nupkg /p:Version=${{ steps.version.outputs.version }}
      - name: Publish NuGet
        run: |
          dotnet nuget push sdk/csharp/Pulumi.Esc.Sdk/nupkg/*.nupkg \
            --api-key "${NUGET_PUBLISH_KEY}" \
            --source https://api.nuget.org/v3/index.json \
            --skip-duplicate
